* {
    font-size: 100%;
    font-family: "Noto Serif", serif;
   }


   img {
    border: 5px solid #b25830;
  }

  body {
    background-color: #f3eedc;
  }

 p {
    color:#d8b67d
}

.navBar {
    height: 60px;
    background-color: #082631 ;
}

.box {
    height: 250px;
    width: 250px;
    background-color: #b25830;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

.abtBox {
    height: 150px;
    width: 1250px;
    background-color: #d8b67d;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

.footer {
    height: 50px;
    width: "width=device-width, initial-scale=1.0";
    background-color: #d8b67d;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

